<form class="{{cssClass}} actor-sheet character-sheet" data-actor-uuid="{{actor.uuid}}" autocomplete="off">

  <div class="roll-statistics-toolbar">
    <button type="button" class="roll-statistics-control" title="{{localize 'BITD.RollStatistics'}}">
      <i class="fas fa-chart-bar" aria-hidden="true"></i>
      {{localize "BITD.RollStatistics"}}
    </button>
  </div>

  <section id="character-{{_id}}-name-alias" class="flex-horizontal name-alias">
    <div class="grow-two">
      <img src="{{img}}" alt="{{name}}"{{#if editable}} data-action="editImage" data-edit="img" role="button" tabindex="0" aria-label="{{localize 'BITD.Name'}}: {{name}}"{{/if}} title="{{name}}" class="portrait">
    </div>

    <div class="grow-two">
      <div id="character-{{_id}}-name-box">
        <label for="character-{{_id}}-name">{{localize "BITD.Name"}}</label>
        <input type="text" id="character-{{_id}}-name" class="name" name="name" value="{{name}}">
      </div>

      <div id="character-{{_id}}-traits" class="flex-column character-identity-choices">

        <div class="item-block flex-horizontal">
          <div class="item-class-label">
	          <a class="item-add-popup" data-distinct="true" data-item-type="upbringing">{{localize "BITD.Upbringing"}}</a>
          </div>
          {{#each items as |item id|}}
            {{#if (eq item.type "upbringing")}}
						<div class="item flex-horizontal tooltip" data-item-id="{{item._id}}" data-tooltip="Actor.Upbringings.{{item.name}}" data-tooltip-class="brinkwood-tooltip" data-tooltip-direction="RIGHT">
<div class="item-body flex-horizontal"{{#if editable}} role="button" tabindex="0"{{/if}}>
								<div class="item-name">{{item.name}}</div>
                </div>
                {{#if ../editable}}
                <button type="button" class="item-delete identity-choice__remove" title="Remove Upbringing" aria-label="Remove Upbringing"><span aria-hidden="true">&times;</span></button>
                {{/if}}
              </div>
            {{/if}}
          {{/each}}
        </div>

        <div class="item-block flex-horizontal">
          <div class="item-class-label">
						<a class="item-add-popup" data-distinct="true" data-item-type="profession">{{localize "BITD.Profession"}}</a>
					</div>
          {{#each items as |item id|}}
            {{#if (eq item.type "profession")}}
						<div class="item flex-horizontal tooltip" data-item-id="{{item._id}}" data-tooltip="Actor.Professions.{{item.name}}" data-tooltip-class="brinkwood-tooltip" data-tooltip-direction="RIGHT">
<div class="item-body flex-horizontal"{{#if editable}} role="button" tabindex="0"{{/if}}>
                <div class="item-name">{{item.name}}</div>
              </div>
              {{#if ../editable}}
              <button type="button" class="item-delete identity-choice__remove" title="Remove Profession" aria-label="Remove Profession"><span aria-hidden="true">&times;</span></button>
              {{/if}}
            </div>
            {{/if}}
          {{/each}}
        </div>

        <div class="item-block flex-horizontal">
          <div class="item-class-label"><a class="item-add-popup" data-distinct="true" data-item-type="class">{{localize "BITD.Class"}}</a></div>
            {{#each items as |item id|}}
                {{#if (eq item.type "class")}}
                <div class="item flex-horizontal tooltip" data-item-id="{{item._id}}" data-tooltip="Actor.Classes.{{item.name}}" data-tooltip-class="brinkwood-tooltip" data-tooltip-direction="RIGHT">
<div class="item-body flex-horizontal"{{#if editable}} role="button" tabindex="0"{{/if}}>
                    <div class="item-name">{{item.name}}</div>
                  </div>
                  {{#if ../editable}}
                  <button type="button" class="item-delete identity-choice__remove" title="Remove Class" aria-label="Remove Class"><span aria-hidden="true">&times;</span></button>
                  {{/if}}
                </div>
              {{/if}}
            {{/each}}
        </div>

					<div class="item-block flex-horizontal">
          <div class="item-class-label"><a class="item-add-popup" data-distinct="true" data-item-type="pact">{{localize "BITD.Pact"}}</a></div>
            {{#each items as |item id|}}
                {{#if (eq item.type "pact")}}
                <div class="item flex-horizontal tooltip" data-item-id="{{item._id}}" data-tooltip="Actor.Pacts.{{item.name}}" data-tooltip-class="brinkwood-tooltip" data-tooltip-direction="RIGHT">
<div class="item-body flex-horizontal"{{#if editable}} role="button" tabindex="0"{{/if}}>
                    <div class="item-name">{{item.name}}</div>
                  </div>
                  {{#if ../editable}}
                  <button type="button" class="item-delete identity-choice__remove" title="Remove Pact" aria-label="Remove Pact"><span aria-hidden="true">&times;</span></button>
                  {{/if}}
                </div>
              {{/if}}
            {{/each}}
          </div>
      </div>
    </div>

    <div class="grow-two">
      <div id="character-{{_id}}-alias-box">
        <label for="character-{{_id}}-alias">{{localize "BITD.Alias"}}</label>
        <input type="text" id="character-{{_id}}-alias" class="alias" name="system.alias" value="{{system.alias}}">
      </div>

      {{!-- XP --}}
      <div class="section big-teeth-section character-xp-section">
        <div id="character-{{_id}}-xp" class="big-teeth character-xp tooltip" data-tooltip="Actor.XP.Tooltip" data-tooltip-class="brinkwood-tooltip" data-tooltip-direction="RIGHT">
          <span class="black-label">
            {{localize system.experience.name}}
          </span>
          <div class="legacy-tracker-segments">
          {{#with system as | system | }}
          {{#times_from_1 system.experience.max}}
              <button type="button" class="dot-value" data-path="system.experience.value" data-max_value="{{system.experience.max}}" data-value="{{this}}" aria-label="{{localize system.experience.name}} {{this}} of {{system.experience.max}}" aria-pressed="{{#if (lt system.experience.value this)}}false{{else}}true{{/if}}"{{#unless ../../editable}} disabled{{/unless}}>
                {{#if (lt system.experience.value this)}}
                  <img class="big-teeth" src="systems/brinkwood/styles/assets/teeth/stresstooth-halfgrey.png" alt="">
                {{else}}
                  <img class="big-teeth" src="systems/brinkwood/styles/assets/teeth/stresstooth-blue.png" alt="">
                {{/if}}
              </button>
          {{/times_from_1}}
          {{/with}}
          </div>
        </div>

      </div>
 
      {{!-- Stress --}}
      <div id="character-{{_id}}-stress-trauma" class="section big-teeth-section">
        <div id="character-{{_id}}-stress" class="big-teeth character-stress tooltip" data-tooltip="Actor.Stress.Tooltip" data-tooltip-class="brinkwood-tooltip" data-tooltip-direction="RIGHT">
          <span class="black-label">{{localize system.stress.name}}</span>
          <div class="legacy-tracker-segments">
          {{#with system as | system | }}
          {{#times_from_1 system.stress.max}}
              <button type="button" class="dot-value" data-path="system.stress.value" data-max_value="{{system.stress.max}}" data-value="{{this}}" aria-label="{{localize system.stress.name}} {{this}} of {{system.stress.max}}" aria-pressed="{{#if (lt system.stress.value this)}}false{{else}}true{{/if}}"{{#unless ../../editable}} disabled{{/unless}}>
                {{#if (lt system.stress.value this)}}
                  <img class="big-teeth" src="systems/brinkwood/styles/assets/teeth/stresstooth-halfgrey.png" alt="">
                {{else}}
                  <img class="big-teeth" src="systems/brinkwood/styles/assets/teeth/stresstooth-red.png" alt="">
                {{/if}}
              </button>
          {{/times_from_1}}
          {{/with}}
          </div>
        </div>
      </div>
    </div>


  </section>

  {{!-- Bans, consequence clocks, and armor --}}
  <section id="character-{{_id}}-bans-armor" class="bans-armor" aria-label="{{localize 'BITD.BansArmor'}}">
    <div id="character-{{_id}}-character-bans" class="character-bans">
      <table>
        <thead>
					<th class="black-white" colspan="4"><span class="tooltip" data-tooltip="Actor.Bans.Tooltip" data-tooltip-class="brinkwood-tooltip" data-tooltip-direction="RIGHT">{{localize "BITD.Bans"}}</span></th>
	   		  <th class="black-white"><label></label></th>
          <th class="black-white">{{localize "BITD.Armor"}}</th>
        </thead>
        <tbody>
          <tr>
            <td>3</td>
            <td colspan="2">
              <input type="text" id="character-{{_id}}-bans-3-1" name="system.bans.heavy.one" value="{{system.bans.heavy.one}}">
            </td>
            <td></td>
            <td rowspan="3">
              <div id="character-{{_id}}-scars-clock" class="character-scars-clock">
                {{{blades-clock "system.scars" 4 system.scars _id "scars" }}}
              </div>
              <div id="character-{{_id}}-oath-clock" class="character-oath-clock">
                {{{blades-clock "system.oath" 4 system.oath _id "oath" }}}
              </div>

            </td>
            <td rowspan="3" id="character-{{_id}}-armor-uses" class="character-armor-uses">
              <div>
                <label for="character-{{_id}}-armor-uses-armor">{{localize "BITD.Armor"}}</label>
                <input id="character-{{_id}}-armor-uses-armor" type="checkbox" name="system.armor-uses.armor" {{checked system.armor-uses.armor}}>
              </div>
              <div>
                <label for="character-{{_id}}-armor-uses-heavy">{{localize "BITD.Heavy"}}</label>
                <input id="character-{{_id}}-armor-uses-heavy" type="checkbox" name="system.armor-uses.heavy" {{checked system.armor-uses.heavy}}>
              </div>
              <div>
                <label for="character-{{_id}}-armor-uses-special">{{localize "BITD.Special"}}</label>
                <input id="character-{{_id}}-armor-uses-special" type="checkbox" name="system.armor-uses.special" {{checked system.armor-uses.special}}>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <input type="text" id="character-{{_id}}-bans-2-1" name="system.bans.medium.one" value="{{system.bans.medium.one}}">
            </td>
            <td>
              <input type="text" id="character-{{_id}}-bans-2-2" name="system.bans.medium.two" value="{{system.bans.medium.two}}">
            </td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <input type="text" id="character-{{_id}}-bans-1-1" name="system.bans.light.one" value="{{system.bans.light.one}}">
            </td>
            <td>
              <input type="text" id="character-{{_id}}-bans-1-2" name="system.bans.light.two" value="{{system.bans.light.two}}">
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>


  {{!-- Attributes --}}
<section class="character-sheet__workspace">

      {{!-- Nav menu --}}
<nav class="tabs flex-horizontal" data-group="primary" role="tablist" aria-label="{{localize "BITD.Traits"}}">
    <button type="button" class="item {{#if (eq tabs.primary "traits")}}active{{/if}}" id="character-{{_id}}-tab-traits" role="tab" tabindex="{{#if (eq tabs.primary "traits")}}0{{else}}-1{{/if}}" aria-controls="character-{{_id}}-traits-tab" aria-selected="{{#if (eq tabs.primary "traits")}}true{{else}}false{{/if}}" data-action="tab" data-group="primary" data-tab="traits">{{localize "BITD.Traits"}}</button>
    <button type="button" class="item {{#if (eq tabs.primary "loadout")}}active{{/if}}" id="character-{{_id}}-tab-loadout" role="tab" tabindex="{{#if (eq tabs.primary "loadout")}}0{{else}}-1{{/if}}" aria-controls="character-{{_id}}-loadout" aria-selected="{{#if (eq tabs.primary "loadout")}}true{{else}}false{{/if}}" data-action="tab" data-group="primary" data-tab="loadout">{{localize "BITD.Loadout"}}</button>
    <button type="button" class="item {{#if (eq tabs.primary "character-notes")}}active{{/if}}" id="character-{{_id}}-tab-notes" role="tab" tabindex="{{#if (eq tabs.primary "character-notes")}}0{{else}}-1{{/if}}" aria-controls="character-{{_id}}-notes" aria-selected="{{#if (eq tabs.primary "character-notes")}}true{{else}}false{{/if}}" data-action="tab" data-group="primary" data-tab="character-notes">{{localize "BITD.Notes"}}</button>
    <button type="button" class="item {{#if (eq tabs.primary "downtime")}}active{{/if}}" id="character-{{_id}}-tab-downtime" role="tab" tabindex="{{#if (eq tabs.primary "downtime")}}0{{else}}-1{{/if}}" aria-controls="character-{{_id}}-downtime" aria-selected="{{#if (eq tabs.primary "downtime")}}true{{else}}false{{/if}}" data-action="tab" data-group="primary" data-tab="downtime">{{localize "BITD.Downtime"}}</button>
       {{#if isGM}}
      <button type="button" class="item {{#if (eq tabs.primary "effects")}}active{{/if}}" id="character-{{_id}}-tab-effects" role="tab" tabindex="{{#if (eq tabs.primary "effects")}}0{{else}}-1{{/if}}" aria-controls="character-{{_id}}-effects" aria-selected="{{#if (eq tabs.primary "effects")}}true{{else}}false{{/if}}" data-action="tab" data-group="primary" data-tab="effects">{{localize "BITD.Effects"}}</button>
        {{/if}}
      </nav>

    <div class="tab-content flex-vertical grow-two">

<div id="character-{{_id}}-traits-tab" class="tab flex-vertical traits {{#if (eq tabs.primary "traits")}}active{{/if}}" role="tabpanel" data-group="primary" data-tab="traits">
        <div id="character-{{_id}}-traits-list">
          {{#each traits as |trait id|}}
          {{#if (eq trait.type "trait")}}
            <div class="item flex-horizontal">
              <div class="item-select" data-item-id="{{trait._id}}" data-item-list="traits">
 	      <div class="item-name">
		<h3>
		  <input type="checkbox" id="item-{{trait._id}}-purchased" class="dot" data-item-id="{{trait._id}}" {{#if trait.system.purchased }}checked{{/if}}>
                  {{trait.name}}
		</h3>
	      </div>
                <div class="flex-horizontal trait">
                  <div class="item-description">{{{trait.system.description}}}</div>
                </div>
              </div>
            </div>
          {{/if}}
          {{/each}}
        </div>

        {{> "systems/brinkwood/templates/parts/attributes.html" actor=actor}}
      </div>

      {{!-- Owned Items Tab --}}
      <div id="character-{{_id}}-loadout" class="tab flex-vertical loadout {{#if (eq tabs.primary "loadout")}}active{{/if}}" data-group="primary" data-tab="loadout">
        <div class="label-stripe flex-horizontal">
           <p>{{localize "BITD.Loadout"}} <a class="item-add-popup" data-item-type="item"><i class="fas fa-plus-square"></i></a></p>
           <p>{{system.loadout}}/{{localize system.load_level}} </p>
           <div class="dropdown">
             <select name="system.selected_load_level">
               {{selectOptions system.load_levels selected=system.selected_load_level localize=true}}
             </select>
           </div>
        </div>
        <div>
          {{#each items as |item id|}}
          {{#if (eq item.type "item")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal">
                <div class="item-name">{{item.name}}</div>
              </div>
            </div>
          {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="item">{{localize "BITD.AddItem"}}</a></div>
        </div>
      </div>

<div id="character-{{_id}}-notes" class="tab flex-vertical {{#if (eq tabs.primary "character-notes")}}active{{/if}}" role="tabpanel" data-group="primary" data-tab="character-notes">
        {{#if editable}}
        <prose-mirror name="system.description" value="{{system.description}}" data-document-uuid="{{actor.uuid}}" collaborate toggled>{{{enrichedDescription}}}</prose-mirror>
        {{else}}
        <div class="editor editor-content">{{{enrichedDescription}}}</div>
        {{/if}}
      </div>

      {{!-- Active Effects --}}
<div id="character-{{_id}}-effects" class="tab effects flex-vertical {{#if (eq tabs.primary "effects")}}active{{/if}}" data-group="primary" data-tab="effects">
        {{> "systems/brinkwood/templates/parts/active-effects.html"}}
      </div>

			{{!-- Downtime actions --}}
			<div id="character-{{_id}}-downtime" class="tab downtime flex-vertical {{#if (eq tabs.primary "downtime")}}active{{/if}}" data-group="primary" data-tab="downtime">
  		  {{> "systems/brinkwood/templates/parts/actor/downtime.html" actor=actor}}
			</div>



    </div>
  </section>

</form>
