<form class="{{cssClass}} actor-sheet npc-dossier" autocomplete="off">
  <header class="npc-dossier__header">
    <img class="npc-dossier__portrait" src="{{img}}" alt="{{name}}" title="{{name}}"{{#if editable}} data-action="editImage" data-edit="img" role="button" tabindex="0" aria-label="{{localize 'BITD.Name'}}: {{name}}"{{/if}}>

    <div class="npc-dossier__identity">
      <div class="npc-dossier__field">
        <label for="npc-{{_id}}-name">{{localize "BITD.Name"}}</label>
        <input type="text" id="npc-{{_id}}-name" name="name" value="{{name}}"{{#unless editable}} disabled{{/unless}}>
      </div>

      <div class="npc-dossier__field">
        <label for="npc-{{_id}}-short-description">{{localize "BITD.ShortDescription"}}</label>
        <input type="text" id="npc-{{_id}}-short-description" name="system.description_short" value="{{system.description_short}}"{{#unless editable}} disabled{{/unless}}>
      </div>
    </div>
  </header>

  <section class="npc-dossier__profile" aria-labelledby="npc-{{_id}}-profile-heading">
    <h2 id="npc-{{_id}}-profile-heading">{{localize "BITD.Profile"}}</h2>

    <div class="npc-dossier__profile-fields">
      <div class="npc-dossier__field">
        <label for="npc-{{_id}}-associated-class">{{localize "BITD.Class"}}</label>
        <input type="text" id="npc-{{_id}}-associated-class" name="system.associated_class" value="{{system.associated_class}}"{{#unless editable}} disabled{{/unless}}>
      </div>

      <div class="npc-dossier__field">
        <label for="npc-{{_id}}-associated-faction">{{localize "BITD.Faction"}}</label>
        <input type="text" id="npc-{{_id}}-associated-faction" name="system.associated_faction" value="{{system.associated_faction}}"{{#unless editable}} disabled{{/unless}}>
      </div>

      <div class="npc-dossier__field">
        <label for="npc-{{_id}}-associated-crew-type">{{localize "BITD.CrewType"}}</label>
        <input type="text" id="npc-{{_id}}-associated-crew-type" name="system.associated_crew_type" value="{{system.associated_crew_type}}"{{#unless editable}} disabled{{/unless}}>
      </div>
    </div>
  </section>

  <div class="npc-dossier__editors">
    <section class="npc-dossier__editor-panel" aria-labelledby="npc-{{_id}}-description-heading">
      <h2 id="npc-{{_id}}-description-heading">{{localize "BITD.Description"}}</h2>
      {{#if editable}}
      <prose-mirror name="system.description" value="{{system.description}}" data-document-uuid="{{actor.uuid}}" collaborate toggled>{{{enrichedDescription}}}</prose-mirror>
      {{else}}
      <div class="editor editor-content">{{{enrichedDescription}}}</div>
      {{/if}}
    </section>

    <section class="npc-dossier__editor-panel" aria-labelledby="npc-{{_id}}-notes-heading">
      <h2 id="npc-{{_id}}-notes-heading">{{localize "BITD.Notes"}}</h2>
      {{#if editable}}
      <prose-mirror name="system.notes" value="{{system.notes}}" data-document-uuid="{{actor.uuid}}" collaborate toggled>{{{enrichedNotes}}}</prose-mirror>
      {{else}}
      <div class="editor editor-content">{{{enrichedNotes}}}</div>
      {{/if}}
    </section>
  </div>
</form>
